.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../img/moto.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-container {
  border-radius: 16px;
  padding: 20px;
  max-width: 500px;
  width: 105%;
  color: white;
}

.register-container h2 {
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px 15px;
  transition: background-color 0.3s, border-color 0.3s;
  margin-bottom: 20px;
}

.form-control.empty {
  border-color: red; /* Borde rojo para los campos obligatorios vacíos */
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
}

.password-field {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.register-button {
  background-color: white; /* Color de fondo blanco */
  border: 1px solid white; /* Borde blanco */
  display: block;
  color: black; /* Texto negro */
  width: 100%; /* Ocupar todo el ancho disponible */
  margin-top: 5px; /* Más espacio arriba del botón */
  padding: 10px 0; /* Menos espacio interno para un botón menos "gordo" */
  font-size: 18px; /* Texto más grande */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.register-button:hover {
  background-color: #ff0000; /* Color de fondo al pasar el ratón */
  color: white; /* Color del texto al pasar el ratón */
  transform: scale(1.05); /* Ligeramente más grande al pasar el ratón */
}

.register-button:disabled {
  background-color: white; /* Mantiene el color cuando está deshabilitado */
  opacity: 0.7; /* Menor opacidad */
}

h2.text-center {
  margin-bottom: 20px;
}

.mr-2 {
  margin-right: 5px;
}

.toggle-button-container {
  margin-top: 20px;
}

.toggle-button-container {
  margin-top: 10px;
}

.text-center {
  margin-top: 15px;
}

.text-center a {
  color: white;
  transition: color 0.3s;
}

.text-center a:hover {
  color: #ff0000;
}

.alert {
  background: rgba(255, 0, 0, 0.5);
  color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-width: 400px;
  text-align: center;
  cursor: pointer;
}

.alert-success {
  background: rgba(0, 128, 0, 0.5);
}

/* Separar campos de nombre y apellido */
.name-container .form-group:first-child {
  margin-right: 10px;
}

.name-container .form-group:last-child {
  margin-left: 10px;
}